/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow: hidden; /* 기본 스크롤 비활성화 */
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    transition: transform 0.8s ease-in-out; /* 부드러운 전환 효과 추가 */
}

#section1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #fff;
    text-align: center;
}

#section2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #fff;
    text-align: center;
}


#section3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #fff;
    text-align: center;
}


/* 첫 번째 섹션 */
#section1 {
    background: linear-gradient(135deg, #aa4b6b, #6b6b83, #3b8d99);
    background-size: 200% 200%;
    animation: gradient-animation 5s ease infinite;
}

/* 두 번째 섹션 */
#section2 {
    background: linear-gradient(135deg,  #ee0c40, #ff9a8b, #ffb3c1);
    background-size: 200% 200%;
    animation: gradient-animation-2 5s ease infinite;
}

/* 세 번째 섹션 */
#section3 {
    background: linear-gradient(135deg,  #cae9f1, #66a0e7, #d5bbf1);
    background-size: 200% 200%;
    animation: gradient-animation-3 5s ease infinite;
}

/* 첫 번째 섹션의 그라데이션 애니메이션 */
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* 두 번째 섹션의 그라데이션 애니메이션 */
@keyframes gradient-animation-2 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* 세 번째 섹션의 그라데이션 애니메이션 */
@keyframes gradient-animation-3 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
